{
    "openapi": "3.0.0",
    "info": {
        "title": "ECG POS API",
        "description": "Production REST API for JWT authentication, OIRS terminal validation, payment notification, and invoice generation.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://ecgposapi.electroniccollectionsecg.com",
            "description": "Production API server (ECG)"
        },
        {
            "url": "https://ecg.easinovation.com.ng",
            "description": "Production API server (Easinovation)"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local API server"
        }
    ],
    "paths": {
        "/api/v1/admin/terminals": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "List all terminals",
                "description": "Every registered terminal with its transaction count and total collected. Admin only. Optional search matches name, email or terminal id.",
                "operationId": "adminListTerminals",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 100
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Terminals listed."
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not an administrator.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/terminals/{user}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Show one terminal",
                "description": "A single terminal record. Admin only.",
                "operationId": "adminShowTerminal",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Terminal found."
                    },
                    "403": {
                        "description": "Not an administrator.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Admin"
                ],
                "summary": "Reset terminal details",
                "description": "Update a terminal's name, email, terminal id, password or PIN. Admin only. Every field is optional; send only what should change. A password reset here does not require the old password, since the point is recovering a terminal whose holder cannot supply it. Password and PIN are stored hashed and never returned.",
                "operationId": "adminUpdateTerminal",
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Ilesa Main Terminal",
                                        "maxLength": 255
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "ilesa@example.com"
                                    },
                                    "terminal_id": {
                                        "type": "string",
                                        "example": "204401PG",
                                        "maxLength": 50
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "newsecret123",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "newsecret123"
                                    },
                                    "pin": {
                                        "type": "string",
                                        "example": "1234"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Terminal updated."
                    },
                    "403": {
                        "description": "Not an administrator.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/transactions": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "List all transactions",
                "description": "Every transaction across every terminal, newest first. Admin only. Filter by terminal_id, status, ipn, and a from/to date range on the record date; search matches IPN or payer name.",
                "operationId": "adminListTransactions",
                "parameters": [
                    {
                        "name": "terminal_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ipn",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Transactions listed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCollectionResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Not an administrator.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/admin/transactions/summary": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Transaction totals",
                "description": "Headline figures for the dashboard, honouring the same filters as the transaction list. Admin only.",
                "operationId": "adminTransactionSummary",
                "responses": {
                    "200": {
                        "description": "Summary returned."
                    },
                    "403": {
                        "description": "Not an administrator.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a user",
                "description": "Create a new API user and return a JWT. Validation rules: name is required string max 255; email is required unique email max 255; terminal_id is required, string max 50, and must not already be assigned to another user; password is required, confirmed, and at least 8 characters.",
                "operationId": "authRegister",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Authenticate with email and password, then return a JWT for Swagger Authorize. Validation rules: email is required and must be valid; password is required string.",
                "operationId": "authLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Invalidate the current JWT. Authentication: Bearer token required in the Authorization header.",
                "operationId": "authLogout",
                "responses": {
                    "200": {
                        "description": "Logged out successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh token",
                "description": "Exchange the current JWT for a new one. Authentication: Bearer token required in the Authorization header. The token may already be expired: it stays exchangeable until the refresh window closes (JWT_REFRESH_TTL, measured from when the token was first issued). The old token is blacklisted once refreshed, so each token can only be exchanged once.",
                "operationId": "authRefresh",
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token is missing, already used, past the refresh window, or names an account that no longer exists. The client must log in again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Current user",
                "description": "Return the authenticated user profile. Authentication: Bearer token required in the Authorization header.",
                "operationId": "authMe",
                "responses": {
                    "200": {
                        "description": "Authenticated user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/profile": {
            "patch": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update profile",
                "description": "Update the authenticated merchant's name and/or terminal id. Authentication: Bearer token required in the Authorization header. Both fields are optional, so either can be changed on its own, but neither may be sent blank. Validation rules: name is string max 255; terminal_id is string max 50 and must not already belong to another merchant. Changing the terminal id does not alter payments already recorded, which keep the terminal they were collected on.",
                "operationId": "authUpdateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error, e.g. the terminal id already belongs to another merchant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/pin": {
            "put": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Change PIN",
                "description": "Change an existing PIN. Requires current_pin, so knowing the JWT alone is not enough to replace the PIN. Returns 409 when no PIN is set yet: use POST /api/v1/auth/pin to create one. Authentication: Bearer token required.",
                "operationId": "authUpdatePin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePinRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "PIN changed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PinStatusResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "No PIN has been set on this account yet.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error, including an incorrect current_pin.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Create PIN",
                "description": "Set the merchant's first PIN. Separate from registration, so an account exists before it has a PIN. Returns 409 if a PIN is already set: use PUT /api/v1/auth/pin to change one. Authentication: Bearer token required.",
                "operationId": "authCreatePin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreatePinRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "PIN created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PinStatusResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "A PIN is already set on this account.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/verify-pin": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Verify PIN",
                "description": "Check a PIN against the authenticated merchant's stored PIN. Returns 200 with valid true when it matches, and 422 when it does not. Rate limited to 10 attempts per minute per merchant, so a 4 digit PIN cannot be guessed by brute force. Authentication: Bearer token required.",
                "operationId": "authVerifyPin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyPinRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "The PIN is correct.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VerifyPinResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "No PIN has been set on this account yet.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The PIN is incorrect, or no PIN was supplied.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too many attempts. Wait before trying again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/validate-ipn": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Validate IPN",
                "description": "Validate an OIRS IPN for a POS terminal. Authentication: Bearer token required. Validation rules: ipn is required string max 50; terminal_id is required string max 50.",
                "operationId": "validateIpn",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateIpnRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "IPN validated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentValidationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/payment-notification": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Send payment notification",
                "description": "Notify OIRS about a successful terminal payment. Authentication: Bearer token required. Validation rules: ipn required string max 50; amount_paid required numeric greater than zero; terminal_id required string max 50; paid_at required date.",
                "operationId": "paymentNotification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentNotificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment notification sent successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentNotificationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/invoices": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Generate invoice",
                "description": "Generate an OIRS invoice and authorization URL. Authentication: Bearer token required. Validation rules: revenue_code required string max 50; agency_code required string max 50; amount required numeric greater than zero; pid required string max 50; payment_type required and must be individual or corporate.",
                "operationId": "generateInvoice",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateInvoiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Invoice generated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/invoices/{ipn}": {
            "get": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Fetch invoice",
                "description": "Look up an existing OIRS invoice by its IPN. Served from the OIRS base URL. Authentication: Bearer token required.",
                "operationId": "showInvoice",
                "parameters": [
                    {
                        "name": "ipn",
                        "in": "path",
                        "description": "The invoice payment number to look up.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[A-Za-z0-9\\-]{1,50}$",
                            "maxLength": 50
                        },
                        "example": "426878163229"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Invoice found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceDetailsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "No invoice exists for that IPN.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "List payments",
                "description": "Return the authenticated merchant's payments, newest first. Only the caller's own payments are ever returned. Authentication: Bearer token required. Optional filters: status, terminal_id, ipn. Page size is controlled by per_page (1-100, default 25).",
                "operationId": "listPayments",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Only payments with this status, e.g. pending or paid.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "pending"
                    },
                    {
                        "name": "terminal_id",
                        "in": "query",
                        "description": "Only payments collected on this terminal.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "204401PG"
                    },
                    {
                        "name": "ipn",
                        "in": "query",
                        "description": "Only the payment for this IPN.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "331622459317"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payments listed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/terminals/import": {
            "post": {
                "tags": [
                    "Terminals"
                ],
                "summary": "Bulk create terminal logins",
                "description": "Upload a spreadsheet of terminals and create one login per terminal ID.\n\nThe sheet needs a header row with a \"Terminal ID\" column; \"Serial Number\" is\nused for the account name when present, and any other columns are ignored.\nHeader matching ignores case, spaces, underscores and hyphens.\n\nEach new account gets an email derived from its terminal ID\n(204401PG becomes 204401pg@<email_domain>) and a randomly generated\n12 character password.\n\nThe generated passwords are returned in this response and nowhere else:\nthey are hashed on the way into the database and cannot be read back\nafterwards. Capture them before closing the page.\n\nTerminals that already have a login are skipped and listed, so re-uploading\nthe same file is safe and will not disturb working accounts.\n\nAuthentication: Bearer token required.",
                "operationId": "importTerminals",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "properties": {
                                    "file": {
                                        "description": "The .xlsx, .xls or .csv file. Maximum 5MB.",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "email_domain": {
                                        "description": "Domain for the generated addresses. Defaults to the configured terminals.email_domain.",
                                        "type": "string",
                                        "example": "ecgpos.local"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Import finished. Check the summary: individual rows can fail without failing the upload.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TerminalImportResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "The file is missing, the wrong type, too large, or has no Terminal ID column.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com"
                    },
                    "terminal_id": {
                        "description": "POS terminal identifier. Unique across users.",
                        "type": "string",
                        "example": "1234567890",
                        "nullable": true,
                        "maxLength": 50
                    },
                    "has_pin": {
                        "description": "Whether a PIN has been created for this account yet.",
                        "type": "boolean",
                        "example": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-07-06T10:30:00+01:00",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "RegisterRequest": {
                "required": [
                    "name",
                    "email",
                    "terminal_id",
                    "password",
                    "password_confirmation"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com",
                        "maxLength": 255
                    },
                    "terminal_id": {
                        "description": "POS terminal identifier. Must not already be assigned to another user.",
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    },
                    "password": {
                        "type": "string",
                        "example": "password123",
                        "minLength": 8
                    },
                    "password_confirmation": {
                        "type": "string",
                        "example": "password123",
                        "minLength": 8
                    }
                },
                "type": "object"
            },
            "LoginRequest": {
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com"
                    },
                    "password": {
                        "type": "string",
                        "example": "password123"
                    }
                },
                "type": "object"
            },
            "AuthTokenResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "access_token": {
                                "type": "string",
                                "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                            },
                            "token_type": {
                                "type": "string",
                                "example": "bearer"
                            },
                            "expires_in": {
                                "type": "integer",
                                "example": 3600
                            },
                            "user": {
                                "$ref": "#/components/schemas/User"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UserResponse": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/User"
                    }
                },
                "type": "object"
            },
            "ValidateIpnRequest": {
                "required": [
                    "ipn",
                    "terminal_id"
                ],
                "properties": {
                    "ipn": {
                        "type": "string",
                        "example": "931713074597",
                        "maxLength": 50
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    },
                    "location": {
                        "description": "Optional. Where the terminal is, recorded against the payment. Free text, so GPS coordinates or a place name both work. Not forwarded to OIRS.",
                        "type": "string",
                        "example": "Ilesa, Osun State",
                        "nullable": true,
                        "maxLength": 255
                    }
                },
                "type": "object"
            },
            "PaymentValidationResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "931713074597"
                            },
                            "terminal_id": {
                                "type": "string",
                                "example": "1234567890"
                            },
                            "customer": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "79453121",
                                        "nullable": true
                                    },
                                    "ipn": {
                                        "type": "string",
                                        "example": "931713074597",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@example.com",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "08030000000",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Osogbo, Osun State",
                                        "nullable": true
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "PaymentNotificationRequest": {
                "required": [
                    "ipn",
                    "amount_paid",
                    "terminal_id",
                    "paid_at"
                ],
                "properties": {
                    "ipn": {
                        "type": "string",
                        "example": "931713074597",
                        "maxLength": 50
                    },
                    "amount_paid": {
                        "type": "number",
                        "format": "float",
                        "example": 100,
                        "minimum": 0.01
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    },
                    "paid_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-07-06 10:30:00"
                    },
                    "location": {
                        "description": "Optional. Where the payment was taken. Free text, so GPS coordinates or a place name both work. Not forwarded to OIRS. Omitting it leaves any location already recorded intact.",
                        "type": "string",
                        "example": "Ilesa, Osun State",
                        "nullable": true,
                        "maxLength": 255
                    }
                },
                "type": "object"
            },
            "PaymentNotificationResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "931713074597"
                            },
                            "amount_paid": {
                                "type": "number",
                                "format": "float",
                                "example": 100
                            },
                            "terminal_id": {
                                "type": "string",
                                "example": "1234567890"
                            },
                            "paid_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-07-06T10:30:00+01:00"
                            },
                            "reference": {
                                "type": "string",
                                "example": "TRX-123456",
                                "nullable": true
                            },
                            "status": {
                                "description": "Payment status reported by OIRS; the merchant payment record is moved to this value. Null when OIRS returns none.",
                                "type": "string",
                                "example": "paid",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "InvoiceDetailsResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "426878163229"
                            },
                            "status": {
                                "type": "string",
                                "example": "pending",
                                "nullable": true
                            },
                            "amount": {
                                "type": "number",
                                "format": "float",
                                "example": 12000
                            },
                            "total_amount": {
                                "type": "number",
                                "format": "float",
                                "example": 12000
                            },
                            "amount_paid": {
                                "type": "number",
                                "format": "float",
                                "example": 0
                            },
                            "description": {
                                "type": "string",
                                "example": "Osun State Harmonised Bill",
                                "nullable": true
                            },
                            "authorization_url": {
                                "type": "string",
                                "example": "https://osun.electroniccollectionsecg.com/pay/426878163229",
                                "nullable": true
                            },
                            "revenue_code": {
                                "type": "string",
                                "example": "4020154",
                                "nullable": true
                            },
                            "agency_code": {
                                "type": "string",
                                "example": "4100000",
                                "nullable": true
                            },
                            "payment_type": {
                                "type": "string",
                                "example": "individual",
                                "nullable": true
                            },
                            "customer": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "454368",
                                        "nullable": true
                                    },
                                    "ipn": {
                                        "type": "string",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "OLUJIDE JEREMIAH AMBEE",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": null,
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "07050710801",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "ZY1, BOLORUNDURO OKE IYANU, ILESA.",
                                        "nullable": true
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "GenerateInvoiceRequest": {
                "required": [
                    "revenue_code",
                    "agency_code",
                    "amount",
                    "pid",
                    "payment_type"
                ],
                "properties": {
                    "revenue_code": {
                        "type": "string",
                        "example": "4020154",
                        "maxLength": 50
                    },
                    "agency_code": {
                        "type": "string",
                        "example": "4100000",
                        "maxLength": 50
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100,
                        "minimum": 0.01
                    },
                    "pid": {
                        "type": "string",
                        "example": "79453121",
                        "maxLength": 50
                    },
                    "payment_type": {
                        "type": "string",
                        "example": "individual",
                        "enum": [
                            "individual",
                            "corporate"
                        ]
                    }
                },
                "type": "object"
            },
            "InvoiceResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "873648221564"
                            },
                            "authorization_url": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://erms.cloudware.ng/gateway/checkout/873648221564/checkout"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UpdateProfileRequest": {
                "description": "Send only the fields you want to change; omitted fields are left as they are.",
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin",
                        "maxLength": 255
                    },
                    "terminal_id": {
                        "description": "Must not already belong to another merchant.",
                        "type": "string",
                        "example": "204401PG",
                        "maxLength": 50
                    }
                },
                "type": "object"
            },
            "CreatePinRequest": {
                "required": [
                    "pin"
                ],
                "properties": {
                    "pin": {
                        "description": "4 to 6 digits. Stored hashed and never returned.",
                        "type": "string",
                        "example": "1234"
                    },
                    "pin_confirmation": {
                        "description": "Optional. When sent it must match pin.",
                        "type": "string",
                        "example": "1234"
                    }
                },
                "type": "object"
            },
            "UpdatePinRequest": {
                "required": [
                    "pin",
                    "current_pin"
                ],
                "properties": {
                    "pin": {
                        "description": "The new PIN, 4 to 6 digits.",
                        "type": "string",
                        "example": "9999"
                    },
                    "pin_confirmation": {
                        "description": "Optional. When sent it must match pin.",
                        "type": "string",
                        "example": "9999"
                    },
                    "current_pin": {
                        "description": "The PIN being replaced.",
                        "type": "string",
                        "example": "1234"
                    }
                },
                "type": "object"
            },
            "PinStatusResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "has_pin": {
                                "type": "boolean",
                                "example": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "VerifyPinRequest": {
                "required": [
                    "pin"
                ],
                "properties": {
                    "pin": {
                        "description": "The PIN to check against the authenticated merchant.",
                        "type": "string",
                        "example": "1234"
                    }
                },
                "type": "object"
            },
            "VerifyPinResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "valid": {
                                "description": "Always true. An incorrect PIN returns 422 rather than valid false.",
                                "type": "boolean",
                                "example": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "TerminalImportResponse": {
                "description": "The created list carries every generated password. They are hashed in the database, so this response is the only place they can be read.",
                "properties": {
                    "data": {
                        "properties": {
                            "summary": {
                                "properties": {
                                    "processed": {
                                        "type": "integer",
                                        "example": 150
                                    },
                                    "created": {
                                        "type": "integer",
                                        "example": 148
                                    },
                                    "skipped": {
                                        "type": "integer",
                                        "example": 2
                                    },
                                    "failed": {
                                        "type": "integer",
                                        "example": 0
                                    }
                                },
                                "type": "object"
                            },
                            "created": {
                                "description": "New logins, with their one-time passwords.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "row": {
                                            "description": "Row number in the uploaded sheet.",
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "terminal_id": {
                                            "type": "string",
                                            "example": "204401PG"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "204401pg@ecgpos.local"
                                        },
                                        "password": {
                                            "type": "string",
                                            "example": "k7Rm2QpXa9Tz"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "skipped": {
                                "description": "Rows deliberately left alone, chiefly terminals that already have a login.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "row": {
                                            "type": "integer",
                                            "example": 14
                                        },
                                        "terminal_id": {
                                            "type": "string",
                                            "example": "118222XX"
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "A login already exists for this terminal."
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "failed": {
                                "description": "Rows that could not be imported. The rest of the file is still imported.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "row": {
                                            "type": "integer",
                                            "example": 31
                                        },
                                        "terminal_id": {
                                            "type": "string",
                                            "example": null,
                                            "nullable": true
                                        },
                                        "reason": {
                                            "type": "string",
                                            "example": "Terminal ID is empty."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Payment": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "ipn": {
                        "type": "string",
                        "example": "331622459317"
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "204401PG"
                    },
                    "location": {
                        "description": "Where the terminal reported it was when the payment was taken. Null when the device reported none.",
                        "type": "string",
                        "example": "Ilesa, Osun State",
                        "nullable": true
                    },
                    "status": {
                        "description": "Starts as pending at validation, then moves to whatever OIRS reports when the terminal sends its payment notification.",
                        "type": "string",
                        "example": "pending"
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 12000
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 12000
                    },
                    "amount_paid": {
                        "type": "number",
                        "format": "float",
                        "example": 0
                    },
[...]
