{
    "openapi": "3.0.0",
    "info": {
        "title": "ECG POS API",
        "description": "Production REST API for JWT authentication, OIRS terminal validation, payment notification, and invoice generation.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://ecgposapi.electroniccollectionsecg.com",
            "description": "Production API server (ECG)"
        },
        {
            "url": "https://ecg.easinovation.com.ng",
            "description": "Production API server (Easinovation)"
        },
        {
            "url": "http://localhost:8000",
            "description": "Local API server"
        }
    ],
    "paths": {
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Register a user",
                "description": "Create a new API user and return a JWT. Validation rules: name is required string max 255; email is required unique email max 255; terminal_id is required, string max 50, and must not already be assigned to another user; password is required, confirmed, and at least 8 characters.",
                "operationId": "authRegister",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RegisterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User registered successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Login",
                "description": "Authenticate with email and password, then return a JWT for Swagger Authorize. Validation rules: email is required and must be valid; password is required string.",
                "operationId": "authLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Invalid credentials.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": []
            }
        },
        "/api/v1/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Logout",
                "description": "Invalidate the current JWT. Authentication: Bearer token required in the Authorization header.",
                "operationId": "authLogout",
                "responses": {
                    "200": {
                        "description": "Logged out successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MessageResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/refresh": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Refresh token",
                "description": "Exchange the current JWT for a new one. Authentication: Bearer token required in the Authorization header. The token may already be expired: it stays exchangeable until the refresh window closes (JWT_REFRESH_TTL, measured from when the token was first issued). The old token is blacklisted once refreshed, so each token can only be exchanged once.",
                "operationId": "authRefresh",
                "responses": {
                    "200": {
                        "description": "Token refreshed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthTokenResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Token is missing, already used, or past the refresh window. The client must log in again.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Current user",
                "description": "Return the authenticated user profile. Authentication: Bearer token required in the Authorization header.",
                "operationId": "authMe",
                "responses": {
                    "200": {
                        "description": "Authenticated user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/auth/profile": {
            "patch": {
                "tags": [
                    "Authentication"
                ],
                "summary": "Update profile",
                "description": "Update the authenticated merchant's name and/or terminal id. Authentication: Bearer token required in the Authorization header. Both fields are optional, so either can be changed on its own, but neither may be sent blank. Validation rules: name is string max 255; terminal_id is string max 50 and must not already belong to another merchant. Changing the terminal id does not alter payments already recorded, which keep the terminal they were collected on.",
                "operationId": "authUpdateProfile",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateProfileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Profile updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error, e.g. the terminal id already belongs to another merchant.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/validate-ipn": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Validate IPN",
                "description": "Validate an OIRS IPN for a POS terminal. Authentication: Bearer token required. Validation rules: ipn is required string max 50; terminal_id is required string max 50.",
                "operationId": "validateIpn",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateIpnRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "IPN validated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentValidationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/payment-notification": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Send payment notification",
                "description": "Notify OIRS about a successful terminal payment. Authentication: Bearer token required. Validation rules: ipn required string max 50; amount_paid required numeric greater than zero; terminal_id required string max 50; paid_at required date.",
                "operationId": "paymentNotification",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentNotificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Payment notification sent successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentNotificationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/invoices": {
            "post": {
                "tags": [
                    "OIRS"
                ],
                "summary": "Generate invoice",
                "description": "Generate an OIRS invoice and authorization URL. Authentication: Bearer token required. Validation rules: revenue_code required string max 50; agency_code required string max 50; amount required numeric greater than zero; pid required string max 50; payment_type required and must be individual or corporate.",
                "operationId": "generateInvoice",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateInvoiceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Invoice generated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InvoiceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "OIRS rejected the request on business grounds, e.g. the IPN has already been paid for. The message is relayed verbatim.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "502": {
                        "description": "OIRS is unreachable, returned an error of its own, or rejected the credentials this API uses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/payments": {
            "get": {
                "tags": [
                    "Payments"
                ],
                "summary": "List payments",
                "description": "Return the authenticated merchant's payments, newest first. Only the caller's own payments are ever returned. Authentication: Bearer token required. Optional filters: status, terminal_id, ipn. Page size is controlled by per_page (1-100, default 25).",
                "operationId": "listPayments",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Only payments with this status, e.g. pending or paid.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "pending"
                    },
                    {
                        "name": "terminal_id",
                        "in": "query",
                        "description": "Only payments collected on this terminal.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "204401PG"
                    },
                    {
                        "name": "ipn",
                        "in": "query",
                        "description": "Only the payment for this IPN.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "maxLength": 50
                        },
                        "example": "331622459317"
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Results per page.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 25,
                            "maximum": 100,
                            "minimum": 1
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number.",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Payments listed successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentCollectionResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin"
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com"
                    },
                    "terminal_id": {
                        "description": "POS terminal identifier. Unique across users.",
                        "type": "string",
                        "example": "1234567890",
                        "nullable": true,
                        "maxLength": 50
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-07-06T10:30:00+01:00",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "RegisterRequest": {
                "required": [
                    "name",
                    "email",
                    "terminal_id",
                    "password",
                    "password_confirmation"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin",
                        "maxLength": 255
                    },
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com",
                        "maxLength": 255
                    },
                    "terminal_id": {
                        "description": "POS terminal identifier. Must not already be assigned to another user.",
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    },
                    "password": {
                        "type": "string",
                        "example": "password123",
                        "minLength": 8
                    },
                    "password_confirmation": {
                        "type": "string",
                        "example": "password123",
                        "minLength": 8
                    }
                },
                "type": "object"
            },
            "LoginRequest": {
                "required": [
                    "email",
                    "password"
                ],
                "properties": {
                    "email": {
                        "type": "string",
                        "format": "email",
                        "example": "admin@example.com"
                    },
                    "password": {
                        "type": "string",
                        "example": "password123"
                    }
                },
                "type": "object"
            },
            "AuthTokenResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "access_token": {
                                "type": "string",
                                "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9..."
                            },
                            "token_type": {
                                "type": "string",
                                "example": "bearer"
                            },
                            "expires_in": {
                                "type": "integer",
                                "example": 3600
                            },
                            "user": {
                                "$ref": "#/components/schemas/User"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UserResponse": {
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/User"
                    }
                },
                "type": "object"
            },
            "ValidateIpnRequest": {
                "required": [
                    "ipn",
                    "terminal_id"
                ],
                "properties": {
                    "ipn": {
                        "type": "string",
                        "example": "931713074597",
                        "maxLength": 50
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    }
                },
                "type": "object"
            },
            "PaymentValidationResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "931713074597"
                            },
                            "terminal_id": {
                                "type": "string",
                                "example": "1234567890"
                            },
                            "customer": {
                                "properties": {
                                    "id": {
                                        "type": "string",
                                        "example": "79453121",
                                        "nullable": true
                                    },
                                    "ipn": {
                                        "type": "string",
                                        "example": "931713074597",
                                        "nullable": true
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "john@example.com",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "08030000000",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "example": "Osogbo, Osun State",
                                        "nullable": true
                                    }
                                },
                                "type": "object",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "PaymentNotificationRequest": {
                "required": [
                    "ipn",
                    "amount_paid",
                    "terminal_id",
                    "paid_at"
                ],
                "properties": {
                    "ipn": {
                        "type": "string",
                        "example": "931713074597",
                        "maxLength": 50
                    },
                    "amount_paid": {
                        "type": "number",
                        "format": "float",
                        "example": 100,
                        "minimum": 0.01
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "1234567890",
                        "maxLength": 50
                    },
                    "paid_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-07-06 10:30:00"
                    }
                },
                "type": "object"
            },
            "PaymentNotificationResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "931713074597"
                            },
                            "amount_paid": {
                                "type": "number",
                                "format": "float",
                                "example": 100
                            },
                            "terminal_id": {
                                "type": "string",
                                "example": "1234567890"
                            },
                            "paid_at": {
                                "type": "string",
                                "format": "date-time",
                                "example": "2026-07-06T10:30:00+01:00"
                            },
                            "reference": {
                                "type": "string",
                                "example": "TRX-123456",
                                "nullable": true
                            },
                            "status": {
                                "description": "Payment status reported by OIRS; the merchant payment record is moved to this value. Null when OIRS returns none.",
                                "type": "string",
                                "example": "paid",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "GenerateInvoiceRequest": {
                "required": [
                    "revenue_code",
                    "agency_code",
                    "amount",
                    "pid",
                    "payment_type"
                ],
                "properties": {
                    "revenue_code": {
                        "type": "string",
                        "example": "4020154",
                        "maxLength": 50
                    },
                    "agency_code": {
                        "type": "string",
                        "example": "4100000",
                        "maxLength": 50
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100,
                        "minimum": 0.01
                    },
                    "pid": {
                        "type": "string",
                        "example": "79453121",
                        "maxLength": 50
                    },
                    "payment_type": {
                        "type": "string",
                        "example": "individual",
                        "enum": [
                            "individual",
                            "corporate"
                        ]
                    }
                },
                "type": "object"
            },
            "InvoiceResponse": {
                "properties": {
                    "data": {
                        "properties": {
                            "ipn": {
                                "type": "string",
                                "example": "873648221564"
                            },
                            "authorization_url": {
                                "type": "string",
                                "format": "uri",
                                "example": "https://erms.cloudware.ng/gateway/checkout/873648221564/checkout"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "UpdateProfileRequest": {
                "description": "Send only the fields you want to change; omitted fields are left as they are.",
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "ECG POS Admin",
                        "maxLength": 255
                    },
                    "terminal_id": {
                        "description": "Must not already belong to another merchant.",
                        "type": "string",
                        "example": "204401PG",
                        "maxLength": 50
                    }
                },
                "type": "object"
            },
            "Payment": {
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "ipn": {
                        "type": "string",
                        "example": "331622459317"
                    },
                    "terminal_id": {
                        "type": "string",
                        "example": "204401PG"
                    },
                    "status": {
                        "description": "Starts as pending at validation, then moves to whatever OIRS reports when the terminal sends its payment notification.",
                        "type": "string",
                        "example": "pending"
                    },
                    "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 12000
                    },
                    "total_amount": {
                        "type": "number",
                        "format": "float",
                        "example": 12000
                    },
                    "amount_paid": {
                        "type": "number",
                        "format": "float",
                        "example": 0
                    },
                    "description": {
                        "type": "string",
                        "example": "Osun State Harmonised Bill",
                        "nullable": true
                    },
                    "reference": {
                        "type": "string",
                        "example": "TRX-556677",
                        "nullable": true
                    },
                    "paid_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-08-24T10:30:00+01:00",
                        "nullable": true
                    },
                    "customer": {
                        "properties": {
                            "id": {
                                "type": "string",
                                "example": "454368",
                                "nullable": true
                            },
                            "ipn": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                            },
                            "name": {
                                "type": "string",
                                "example": "OLUJIDE JEREMIAH AMBEE",
                                "nullable": true
                            },
                            "email": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                            },
                            "phone": {
                                "type": "string",
                                "example": "07050710801",
                                "nullable": true
                            },
                            "address": {
                                "type": "string",
                                "example": "ZY1, BOLORUNDURO OKE IYANU, ILESA.",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-08-24T10:00:00+01:00",
                        "nullable": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2026-08-24T10:30:00+01:00",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "PaymentCollectionResponse": {
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Payment"
                        }
                    },
                    "links": {
                        "properties": {
                            "first": {
                                "type": "string",
                                "example": "https://ecg.easinovation.com.ng/api/v1/payments?page=1",
                                "nullable": true
                            },
                            "last": {
                                "type": "string",
                                "example": "https://ecg.easinovation.com.ng/api/v1/payments?page=4",
                                "nullable": true
                            },
                            "prev": {
                                "type": "string",
                                "example": null,
                                "nullable": true
                            },
                            "next": {
                                "type": "string",
                                "example": "https://ecg.easinovation.com.ng/api/v1/payments?page=2",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "meta": {
                        "properties": {
                            "current_page": {
                                "type": "integer",
                                "example": 1
                            },
                            "from": {
                                "type": "integer",
                                "example": 1,
                                "nullable": true
                            },
                            "last_page": {
                                "type": "integer",
                                "example": 4
                            },
                            "per_page": {
                                "type": "integer",
                                "example": 25
                            },
                            "to": {
                                "type": "integer",
                                "example": 25,
                                "nullable": true
                            },
                            "total": {
                                "type": "integer",
                                "example": 87
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "MessageResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Logged out successfully."
                    }
                },
                "type": "object"
            },
            "ErrorResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "Unauthenticated."
                    }
                },
                "type": "object"
            },
            "ValidationErrorResponse": {
                "properties": {
                    "message": {
                        "type": "string",
                        "example": "The given data was invalid."
                    },
                    "errors": {
                        "type": "object",
                        "example": {
                            "email": [
                                "The email field is required."
                            ]
                        }
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Enter JWT token in the format: Bearer <token>",
                "name": "Authorization",
                "in": "header",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Authentication",
            "description": "Authentication"
        },
        {
            "name": "OIRS",
            "description": "OIRS"
        },
        {
            "name": "Payments",
            "description": "Payments"
        }
    ]
}